body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  padding: 1em;
  background-color: black;
  text-align: center; 
}

.hero {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 1.5em auto;
}

.avatar > img {
  width: 100%;
}